/* h1{
    color: azure;
    background-color: brown;

} */
/* #gayu{
    color: rgb(214, 167, 96);
    background-color: aqua;
} */
 /* .headings{
    color: palevioletred;
    background-color: rgb(156, 243, 243);
 } */

  /* h1,h2,i{
    color: white;
    background-color:black;
  } */

  *{
    color: brown;
    background-color: aquamarine;
  }