#grandfather{
    width:200;
    height:500px;
    background-color: aqua;
}
#father,#babai{
    width: 50%;
    height: 80%;
    background-color:burlywood;
    float: left;
    color: black;
}
#babai #cousin1,#cousin2{
    background-color:hotpink;
    float: left;
    height: 50%;
    width: 50%;
}
 #grandfather #you,#sibling,#cousin1,#cousin2{
    width: 25%;
    height: 200px;
    background-color: cadetblue;
    float: left;
}
#sibling{
    background-color:cornsilk;
}
#cousin1{
    background-color: cornflowerblue;
    color: navy;
}
#cousin2{
    background-color:palevioletred;
    color:darkred;

}

